<%= render :partial => 'pages' %>

<ul id="articles">
<% @section.articles.each do |article| -%>
  <li id="article_<%= article.id %>"><%= article.title %></li>
<% end -%>
</ul>

<p id="article_info">
</p>

<%= sortable_element 'articles',  
      :complete => visual_effect(:highlight, 'articles'), 
      :url => { :action => "order", :id => params[:id] } %>