<% content_for :action_nav do %>
  <div id="page-nav">
    <ul id="act-nav" class="clear">
      <li><%= link_to "Upload asset", new_asset_path %></li>
    </ul>
  </div>
<% end %>

<% content_for :sidebar do %>
<div class="sgroup">
  <h3>Search your files</h3>
  <p>Search by tag or title</p>
  <input class="searchbox" type="text" size="30" />
  <%= submit_tag 'Search' %>
</div>
<% end %>