<dl class="group">
  <dt><label for="asset_title">Title</label></dt>
  <dd><%= form.text_field :title %></dd>
  <dt><label for="asset_uploaded_data">Upload</label></dt>
  <dd><%= form.file_field :uploaded_data %></dd>
</dl>