<%= render :partial => "action_nav" %>
<% form_for :asset, :url => assets_url, :html => { :multipart => true } do |f| %>
<%= render :partial => "form", :object => f %>
<p class="btns">
  <%= submit_tag 'Upload Asset' %>
  or <%= link_to 'cancel', assets_path %>
</p>
<% end -%>