<tr>
  <td><%=h article.title %></td>
  <td><%= article.published_at ? article.published_at.to_s(:db) : "not published" %></td>
  <td><%= link_to 'Edit', :action => 'edit', :id => article %></td>
</tr>