<tr class="<%= article.status %>" id="article_<%= article.id %>">
  <td><%= image_tag flag_status[article.status], :size => '16x16', :alt => "this article is #{article.status}" %></td>
  <td class="article_title"><%= link_to_article article %></td>
  <td><span class="date"><%= published_at_for article %></span></td>
</tr>