<li id="page-<%= page.id %>">
  <%= image_tag('/images/icons/reorder.gif', :class => 'iconb orange handle') %>
  <%= link_to page.title, :controller => 'articles', :action => 'edit', :id => page %>
</li>