<% content_for :action_nav do %>
<!-- begin action nav -->
<div id="page-nav">
  <ul id="act-nav" class="clear">
    <li><%= link_to 'New Section', :action => 'index' %></li>
  </ul>
</div>
<!-- /end action nav -->
<% end %>

<%= render :partial => 'form' %>

<% content_for :sidebar do %>
<h3>Sections (<span class="hint"><%= link_to_function 'Reorder sections', "SectionForm.toggleSortable(this, 0, 'sections')" %></span>)</h3>
<ul id="sections">
  <%= render :partial => 'section', :collection => @sections %>
</ul>
<% end %>