<% form_remote_for :section, Section.new(:name => 'create section'), 
     :url => { :action => 'create' }, :html => { :id => 'section_form' } do |f| %>
  <p>
    <%= f.text_field :name, :onclick => "Form.clear_default_text(this, 'default');", :class => 'default' %>
  </p>
<% end -%>

<div id="sections">
<div><%=h @home.name %></div>
<%= render :partial => 'section', :collection => @sections %>
</div>