<%= start_form_tag({}, { :id => 'login_form' }) %>
<p>
  <%= label_tag 'login', 'Login' %>
  <%= text_field_tag 'login' %>
</p>

<p>
  <%= label_tag 'password', 'Password' %>
  <%= password_field_tag 'password' %>
</p>

<p><%= submit_tag 'Log in' %></p>
<%= end_form_tag %>