<li id="<%= user.dom_id %>" class="clear<%= %( deleted) unless user.deleted_at.nil? %>">
  <% if user.deleted_at.nil? -%>
    <%= avatar_for user %>
    <h3><%= link_to user.login, :action => 'show', :id => user %></h3>
    <%= user.email %><br />
    <%= link_to_remote 'Disable', :url => { :action => 'destroy', :id => user.id }, :confirm => 'Are you sure you wish to disable this user?' %>
  <% else -%>
    <h3><%= link_to user.login, :action => 'show', :id => user %> (<%= link_to_remote 'Enable', :url => { :action => 'enable', :id => user.id } %>)</h3>
  <% end -%>
</li>