<% content_for :action_nav do %>
<!-- begin action nav -->
<div id="page-nav">
  <ul id="act-nav" class="clear">
    <li><%= link_to "Add new user", :action => "new" %></li>
  </ul>
</div>
<!-- /end action nav -->
<% end %>

<ul id="users">
<%= render :partial => "user", :collection => @enabled %>
</ul>

<h3><a href="#" id="disabled_users_trigger">Disabled Users</a></h3>
<ul id="disabled_users" style="display:none">
<%= render :partial => "user", :collection => @disabled %>
</ul>
