<div id="primary" class="single-post">
  <div class="inside">
    <div class="primary">
      <h1>{{ article.title }}</h1>
      {{ article.body }}
    </div>
    <hr class="hide" />
    <div class="secondary">
      <h2>Welcome</h2>
      <div class="featured">
        <p>You&rsquo;re currently reading the page &ldquo;{{ article.title }}.</p>
        <h2 style="margin-top: 10px;">Other pages</h2>
        <ul class="dates">
        {% for page in pages %}
        {% if page.url != article.url %}
          <li>{{ page | link_to_page }}</li>
        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- [END] #primary -->
