<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{{ title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta http-equiv="imagetoolbar" content="false" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tw.css" />
</head>

<body>
  <div id="header">
    <div class="inner">
      <div id="site_title">techno weenie</div>
    </div>
  </div>
  
  <div id="content" class="c">
{{ content_for_layout }}
  </div>
  
  <div id="footer" class="c">
<div>
  <h3>about</h3>
  <p>this is my personal blog or something.</p>
  
  <p>[ archives ]</p>
  <p>[ projects ]</p>
</div>
<div>
  <h3>elsewhere</h3>
  
  <p>bookmarks, rails weenie, something?</p>
</div>
  </div>
</body>
</html>