<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title>Mephisto: <%= controller.controller_name %> Admin</title>
    <%= stylesheet_link_tag 'fullscreen' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'logger', 'mephisto' %>
  </head>
  <body id="body-<%= controller.controller_name %>">
  
      <!-- div.header -->
      <div id="header">
        <h1><%= link_to "#{site.title} &mdash; Admin", { :controller => '/admin/overview' }, :title => "#{site.title} admin" %></h1>
      </div>
      <!-- /div.header -->
        
    <div id="container">    
      
      <!-- div.content -->
      <div id="fullscreen">
        <% if flash[:error] %>
        <div id="flash-errors"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:notice] %>
        <div id="flash-notice">
          <%= flash[:notice] %>  
        </div>
        <% end %>
        
        <!-- div.left -->
        <div id="main">

          
          <%= yield %>
        </div>
        <!-- /div.left -->

      </div>
      <!-- /div.content -->
      
    </div>
  </body>
</html>